In [1]:
import pandas as pd
l1=[4,8,15,16,23,42]
data=pd.Series(l1)
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
import pandas as pd
l2=["Akshat",21,"joshi",121,234,212,432,1432,'M',1111112]
data1=pd.Series(l2)
print(data1)

0     Akshat
1         21
2      joshi
3        121
4        234
5        212
6        432
7       1432
8          M
9    1111112
dtype: object

In [5]:
import pandas as pd
data2={'Name': ['Alice', 'Bob', 'Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female', 'Male', 'Female']}

df1 = pd.DataFrame(data2)
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Question:-What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Answer:-dataframe is a collection of series that can be used to analyse the data.
Series can only contain single list with index, whereas dataframe can be made of more than one series 
Example of data frame
#Creating a DataFrame 
data = pd.DataFrame({
    "Class 1": pd.Series([22, 33, 38], index=["math avg", "science avg",  "english avg"]),
    "Class 2": pd.Series([45, 28, 36], index=["math avg", "science avg",  "english avg"]),
    "Class 3": pd.Series([32, 41, 47], index=["math avg", "science avg",  "english avg"])
})
 
data 
Example of Series
#Creating a Series
data = {'Mon': 22, 'Tues': 23, 'Wed': 23, 'Thurs': 24, 'Fri': 23, 'Sat': 22, 'Sun': 21}
series = pd.Series(data=data, name='series_from_dict')
print(series)

Question:-What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Answer:-
import the library which is used in data manipulation
import pandas as pd
We can read the dataframe by using head() function also which is having an argument (n) i.e. number of rows to be displayed.
df.head(10)
Counting the rows and columns in DataFrame using shape(). It returns the no. of rows and columns enclosed in a tuple.
df.shape
Summary of Statistics of DataFrame using describe() method.
df.describe()
Dropping the missing values in DataFrame, it can be done using the dropna() method, it removes all the NaN values in the dataframe.
df.dropna()
Merging DataFrames using merge(), arguments passed are the dataframes to be merged along with the column name.
df1 = pd.read_csv("country_code.csv")
merged_col = pd.merge(df, df1, on='Name')
merged_col

Question:-Which of the following is mutable in nature Series, DataFrame, Panel?
ANswer:-Dataframe and Panel is mutable